<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <img src="images/logo.png" alt="logo" class="header-logo__image" />
    </div>
    <a href="mailto:info@formata.kz" class="header-mail">info@formata.kz</a>
    <div class="header-tel">
      <a href="tel:+491708777720" class="header-tel__item"
        >+49 170 877 77 20 (DE)
      </a>
      <br />
      <a href="tel:+77010001011" class="header-tel__item">
        +7 701 000 10 11 (KZ)
      </a>
    </div>
    <ul class="header-langs__list">
      <li class="header-langs-item active">RU</li>
      <li class="header-langs-item">EN</li>
      <li class="header-langs-item">DE</li>
    </ul>
    <button
      type="button"
      class="header-langs-button"
      aria-label="Languages toggle button"
    >
      <img src="images/lang-btn.png" alt="button icon" />
    </button>
  </div>
</header>
