@font-face {
    font-family: "Georgia";
    src: url(../fonts/Georgia-Bold.woff) format("woff"), url(../fonts/Georgia-Bold.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Franklin Gothic Medi Cond ITC - Reg", sans-serif;
    src: url(../fonts/FRADMCN.TTF) format("ttf");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Franklin Gothic Medi Cond ITC - Reg";
    src: url(../fonts/FRADMIT.TTF) format("ttf");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}
