@mixin font($a, $b) {
    font-size: $a;
    line-height: $b;
    // font-weight: $c;
    // color: $d;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

$brown: #b4af9b;
$black: #000;
$white: #fff;
$grey: #ebebeb;
