.footer {
    padding: 40px 0;
    background-color: #1a1a1a;
    color: $white;
}
.footer__container {
}

.footer-top {
    display: flex;
    @media screen and (max-width: 1050px) {
        flex-direction: column;
    }
}
.footer__list {
}
.footer__list-item {
    padding-left: 57px;
    position: relative;
    &:first-child {
        &::before {
            display: none;
        }
    }
    &::before {
        position: absolute;
        content: "";
        /* Style for "Ellipse 1" */
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 13px;
        height: 13px;
        background-color: #ffcc00;
        border-radius: 50%;
    }
    &.heading {
        margin-bottom: 50px;
    }
}
.footer__right {
    margin-left: auto;
    margin-bottom: 40px;
    @media screen and (max-width: 1050px) {
        margin-top: 40px;
        margin-left: 0;
    }
}
.footer__right-heading {
    margin-bottom: 31px;
    display: block;
    text-align: center;
    @media screen and (max-width: 1050px) {
        text-align: left;
    }
}
.footer__right-list {
    display: flex;
    gap: 0 14px;
    @media screen and (max-width: 500px) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.footer__right-list__item {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        /* Style for "cembrit" */
        width: 155px;
        height: 220px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 12px;
    }
    span {
        font-size: 20px;
    }
}
.footer-medium {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media screen and (max-width: 1050px) {
        flex-direction: column;
    }
}
.footer-address {
    padding-left: 87px;
    position: relative;
    &::before {
        position: absolute;
        background-image: url(../images/address.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        /* Style for "info icon" */
        width: 60px;
        height: 60px;
        top: 0;
        left: 0;
    }
    max-width: 702px;
    width: 100%;
    @media screen and (max-width: 1050px) {
        margin-bottom: 30px;
    }
}
.footer__links {
    text-align: right;
    position: relative;
    br {
        display: none;
        @media screen and (max-width: 500px) {
            // &:first-of-type {
            display: block;
        }
    }
    &::before {
        position: absolute;
        background-image: url(../images/links.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        /* Style for "info icon" */
        width: 60px;
        height: 60px;
        top: 0;
        left: 12%;
        @media screen and (max-width: 1050px) {
            left: 0;
        }
    }
    max-width: 702px;

    width: 100%;
    @media screen and (max-width: 1050px) {
        padding-left: 87px;
        text-align: left;
    }
}
// .footer__links-item {
// }
.footer-year {
    text-align: center;
}
